<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New task</title>
</head>
<body>

    <section>
        <h2>Create new task</h2>
    
        <form action="/tasks" method="post">
            <label>Project</label><br>
            <input type="text" name="project" placeholder="Project">
            <br>
            <label>Title</label><br>
            <input type="text" name="title" placeholder="Title of your stack">
            <br>
            <label>Description</label><br>
            <input type="text" name="description" placeholder="Description">
            <br>
            <label>Deadline</label><br>
            <input type="date" name="deadline">
            <br><br>
            <input type="submit" value="Create task">
        </form>
        
        <br><br><br><br>
        <button><a href="/tasks">Back to task manager</a></button>
    </section>
    
</body>
</html>